{% extends 'base.html' %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="w3-container w3-display-middle">
            <h1>Welcome {{ user.username }}!</h1>
        </div>
    {% else %}
    {% endif %}

    <hr><br>

    {% for post in post.posts.all %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ post.title }}</strong>
                        <small>{{ comment.add_date }}</small>
                        <br>
                        {{ post.slug }}
                        {{ post.intro }}
                        {{ post.body }}
                    </p>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="notification">
            <p>No Posts Yet!</p>
        </div>
    {% endfor %}
    <hr>

    <h2 class="subtitle">Add Post</h2>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <button class="button is-success">Post</button>
            </div>
        </div>
    </form>

{% endblock %}