{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <title>{% block title %}Curiosities{% endblock %}</title>
</head>
<body>

<nav class="navbar w3-blue-gray">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
{#    <div class="collapse navbar-collapse" id="navbarNavDropdown">#}
    {#        <ul class="navbar-nav">#}
    {#            <li class="nav-item active">#}
    {#                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
    {#            </li>#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="#">Features</a>#}
    {#            </li>#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="#">Gallery</a>#}
    {#            </li>#}
    {#            <li class="nav-item dropdown" style="float: left;">#}
    {#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"#}
    {#                   aria-haspopup="true" aria-expanded="false">#}
    {#                    Profile#}
    {#                </a>#}
    {#                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">#}
    {#                    <a class="dropdown-item" href="#">Action</a>#}
    {#                    <a class="dropdown-item" href="#">Another action</a>#}
    {#                    <a class="dropdown-item" href="#">Something else here</a>#}
    {#                </div>#}
    {#            </li>#}
    {#        </ul>#}
    {#    </div>#}
</nav>
<hr>


<section class="section">
    <div class="w3-container">
        {% block content %}
        {% endblock %}
    </div>
</section>

</body>
</html>


<!-- Navbar -->
{#<div class="w3-top">#}
{#    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">#}
{#        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white#}
{#            w3-large w3-theme-d2"#}
{#           href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>#}
{#        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i#}
{#                class="fa fa-home w3-margin-right"></i>Logo</a>#}
{#        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i#}
{#                class="fa fa-globe"></i></a>#}
{#        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"#}
{#           title="Account Settings"><i class="fa fa-user"></i></a>#}
{#        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i#}
{#                class="fa fa-envelope"></i></a>#}
{#        <div class="w3-dropdown-hover w3-hide-small">#}
{#            <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span#}
{#                    class="w3-badge w3-right w3-small w3-green">3</span></button>#}
{#            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px;">#}
{#                <a href="#" class="w3-bar-item w3-button">One new friend request</a>#}
{#                <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>#}
{#                <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white#}
{#        w3-dropdown-hover">#}
{#            <button class="w3-button w3-padding-large" title="My Account"></button>#}
{#            <img src="#" class="w3-circle" style="height:23px;width:23px;" alt="Avatar">#}
{#            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px;">#}
{#                <a href="#" class="w3-bar-item w3-button">Profile</a>#}
{#                <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-right">Logout</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
