{% extends 'base.html' %}
{#{% load static %}#}
{#<html lang="en">#}
{#<head>#}
{#    <link rel="stylesheet" href="{% static 'w3.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">#}
{#    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">#}
{##}
{#    <title>{% block title %}Curiosities | Home{% endblock %}</title>#}
{#</head>#}
{##}
{#<body>#}


{% block content %}

    {% for post in posts %}
        <div class="post w3-block">
        <h2 class="subtitle">{{ post.title }}</h2>

        <small>Posted at {{ post.add_date }}</small>

        <p>{{ post.intro }}</p>

        <a href="{% url 'post_detail' post.slug %}">Read More</a>
        </div>

    {% endfor %}

{% endblock %}




{#<!-- Middle Column -->#}
{#<div class="w3-col m7">#}
{#    <div class="w3-row-padding">#}
{#        <div class="w3-col m12">#}
{#            <div class="w3-card w3-round w3-white">#}
{#                <div class="w3-container w3-padding">#}
{#                    <h6 class="w3-opacity">Social Media template by w3.css</h6>#}
{#                    <p contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>#}
{#                    <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#<div>#}

{##}
{#</div>#}
{##}
{#</body>#}
{#</html>#}