{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{{ post.title }}</h1>

    <small>Posted at {{ post.add_date }}</small>

    <p><strong>{{ post.intro }}</strong></p>

    <p>{{ post.body }}</p>
    <hr>

    <h2 class="subtitle">Comments</h2>

    {% for comment in post.comments.all %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ comment.name }}</strong>
                        <small>{{ comment.add_date }}</small>
                        <br>
                        {{ comment.body }}
                    </p>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="notification">
            <p>No Comments Yet!</p>
        </div>
    {% endfor %}
    <hr>


    <h2 class="subtitle">Add Comment</h2>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <button class="button is-success">Submit</button>
            </div>
        </div>
    </form>

{% endblock %}